<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.1 plus MathML 2.0//EN" "http://www.w3.org/Math/DTD/mathml2/xhtml-math11-f.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<!--This file was converted to xhtml by LibreOffice - see https://cgit.freedesktop.org/libreoffice/core/tree/filter/source/xslt for the code.-->

<head profile="http://dublincore.org/documents/dcmi-terms/">
    <meta http-equiv="Content-Type" content="application/xhtml+xml; charset=utf-8" />
    <title xml:lang="en-US">- no title specified</title>
    <meta name="DCTERMS.title" content="" xml:lang="en-US" />
    <meta name="DCTERMS.language" content="en-US" scheme="DCTERMS.RFC4646" />
    <meta name="DCTERMS.source" content="http://xml.openoffice.org/odf2xhtml" />
    <meta name="DCTERMS.issued" content="2020-10-18T19:15:33.122382127" scheme="DCTERMS.W3CDTF" />
    <meta name="DCTERMS.modified" content="2020-10-18T19:59:04.512200234" scheme="DCTERMS.W3CDTF" />
    <meta name="DCTERMS.provenance" content="" xml:lang="en-US" />
    <meta name="DCTERMS.subject" content="," xml:lang="en-US" />
    <link rel="schema.DC" href="http://purl.org/dc/elements/1.1/" hreflang="en" />
    <link rel="schema.DCTERMS" href="http://purl.org/dc/terms/" hreflang="en" />
    <link rel="schema.DCTYPE" href="http://purl.org/dc/dcmitype/" hreflang="en" />
    <link rel="schema.DCAM" href="http://purl.org/dc/dcam/" hreflang="en" />
    <style type="text/css">
        @page {}

        table {
            border-collapse: collapse;
            border-spacing: 0;
            border: 2px
            empty-cells: show;
            vertical-align: middle;
            margin-left: 9mm;
        }

        td,
        th {
            vertical-align: middle;
            font-size: 10pt;
        }

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            clear: both;
        }

        p {
            white-space: nowrap;
        }

        ol,
        ul {
            margin: 0 auto;
            padding: 0 auto;
        }

        li {
            list-style: none;
            margin: 0;
            padding: 0;
        }

        /* "li span.odfLiEnd" - IE 7 issue*/
        li span. {
            clear: both;
            line-height: 0;
            width: 0;
            height: 0;
            margin: 0;
            padding: 0;
        }

        span.footnodeNumber {
            padding-right: 1em;
        }

        span.annotation_style_by_filter {
            font-size: 95%;
            font-family: Arial;
            background-color: #fff000;
            margin: 0;
            border: 0;
            padding: 0;
        }

        span.heading_numbering {
            margin-right: 10rem;
        }

        * {
            margin: 0;
        }

        .ta1 {
            writing-mode: horizontal-tb;
            direction: ltr;
        }

        .Default {
            font-family: Liberation Sans;
        }

        .ce1 {
            font-family: Liberation Sans;
            border-width: 1px;
            border-style: solid;
            border-color: #000000;
            font-weight: bold;
        }

        .ce10 {
            font-family: Liberation Sans;
            border-bottom-style: none;
            border-left-width: 1px;
            border-left-style: solid;
            border-left-color: #000000;
            border-right-width: 1px;
            border-right-style: solid;
            border-right-color: #000000;
            border-top-width: 1px;
            border-top-style: solid;
            border-top-color: #000000;
            text-align: center ! important;
            margin-left: 0cm;
            font-size: 6pt;
        }

        .ce11 {
            font-family: Liberation Sans;
            border-bottom-width: 1px;
            border-bottom-style: solid;
            border-bottom-color: #000000;
            border-left-width: 1px;
            border-left-style: solid;
            border-left-color: #000000;
            border-right-width: 1px;
            border-right-style: solid;
            border-right-color: #000000;
            border-top-style: none;
            text-align: center ! important;
            margin-left: 0cm;
            font-size: 6pt;
            font-weight: bold;
        }

        .ce12 {
            font-family: Liberation Sans;
            border-width: 1px;
            border-style: solid;
            border-color: #000000;
            font-weight: normal;
        }

        .ce13 {
            font-family: Liberation Sans;
            border-width: 1px;
            border-style: solid;
            border-color: #000000;
            vertical-align: middle;
            text-align: left ! important;
            margin-left: 0cm;
            font-weight: normal;
        }

        .ce14 {
            font-family: Liberation Sans;
            border-width: 1px;
            border-style: solid;
            border-color: #000000;
            margin-left: 0cm;
            font-size: 10pt;
            font-style: normal;
            text-shadow: none;
            text-decoration: none ! important;
            font-weight: normal;
        }

        .ce15 {
            font-family: Liberation Sans;
            border-bottom-style: none;
            border-left-style: none;
            border-right-width: 1px;
            border-right-style: solid;
            border-right-color: #000000;
            border-top-width: 1px;
            border-top-style: solid;
            border-top-color: #000000;
            text-align: center ! important;
            margin-left: 0cm;
        }

        .ce16 {
            font-family: Liberation Sans;
            border-bottom-width: 1px;
            border-bottom-style: solid;
            border-bottom-color: #000000;
            border-left-style: none;
            border-right-width: 1px;
            border-right-style: solid;
            border-right-color: #000000;
            border-top-style: none;
        }

        .ce17 {
            font-family: Liberation Sans;
            background-color: #3465a4;
            border-width: 1px;
            border-style: solid;
            border-color: #000000;
            color: #ffffff;
        }

        .ce18 {
            font-family: Liberation Sans;
            border-width: 1px;
            border-style: solid;
            border-color: #000000;
            margin-left: 0cm;
        }

        .ce19 {
            font-family: Liberation Sans;
            background-color: #3465a4;
            border-width: 1px;
            border-style: solid;
            border-color: #000000;
            vertical-align: middle;
            text-align: center ! important;
            color: #ffffff;
            margin-left: 0cm;
        }

        .ce2 {
            font-family: Liberation Sans;
            background-color: #3465a4;
            border-width: 1px;
            border-style: solid;
            border-color: #000000;
            text-align: center ! important;
            margin-left: 0cm;
            color: #ffffff;
            font-size: 12pt;
            font-weight: normal;
        }

        .ce20 {
            font-family: Liberation Sans;
            border-width: 1px;
            border-style: solid;
            border-color: #000000;
            vertical-align: middle;
            text-align: center ! important;
            margin-left: 0cm;
            font-size: 10pt;
            font-style: normal;
            text-shadow: none;
            text-decoration: none ! important;
            font-weight: bold;
        }

        .ce3 {
            font-family: Liberation Sans;
            border-width: 1px;
            border-style: solid;
            border-color: #000000;
            text-align: center ! important;
            margin-left: 0cm;
            font-weight: bold;
        }

        .ce4 {
            font-family: Liberation Sans;
            border-width: 1px;
            border-style: solid;
            border-color: #000000;
            font-size: 10pt;
            font-style: normal;
            text-shadow: none;
            text-decoration: none ! important;
            font-weight: normal;
        }

        .ce5 {
            font-family: Liberation Sans;
            border-width: 1px;
            border-style: solid;
            border-color: #000000;
            font-size: 10pt;
            font-style: normal;
            text-shadow: none;
            text-decoration: none ! important;
            font-weight: bold;
        }

        .ce6 {
            font-family: Liberation Sans;
            border-width: 1px;
            border-style: solid;
            border-color: #000000;
        }

        .ce7 {
            font-family: Liberation Sans;
            background-color: #3465a4;
            border-width: 1px;
            border-style: solid;
            border-color: #000000;
            text-align: center ! important;
            margin-left: 0cm;
            color: #ffffff;
            font-size: 12pt;
        }

        .ce8 {
            font-family: Liberation Sans;
            border-width: 1px;
            border-style: solid;
            border-color: #000000;
            text-align: center ! important;
            margin-left: 0cm;
            font-size: 10pt;
            font-style: normal;
            text-shadow: none;
            text-decoration: none ! important;
            font-weight: normal;
        }

        .ce9 {
            font-family: Liberation Sans;
            border-width: 1px;
            border-style: solid;
            border-color: #000000;
            text-align: center ! important;
            margin-left: 0cm;
        }

        .co1 {
            width: 2.859cm;
        }

        .co2 {
            width: 7.216cm;
        }

        .co3 {
            width: 2.831cm;
        }

        .co4 {
            width: 2.314cm;
        }

        .co5 {
            width: 2.505cm;
        }

        .ro1 {
            height: 0.452cm;
        }

        .ro2 {
            height: 0.529cm;
        }

        /* ODF styles with no properties representable as CSS */
            {}
    </style>
</head>

<body dir="auto">
    <table border="0" cellspacing="0" cellpadding="0" class="ta1">
        <colgroup>
            <col width="125" />
            <col width="315" />
            <col width="124" />
            <col width="101" />
            <col width="109" />
        </colgroup>
        <tr class="ro1">
            <td style="text-align:left;width:2.859cm; " class="Default"> </td>
            <td style="text-align:left;width:7.216cm; " class="Default"> </td>
            <td style="text-align:left;width:2.831cm; " class="Default"> </td>
            <td style="text-align:left;width:2.314cm; " class="Default"> </td>
            <td style="text-align:left;width:2.505cm; " class="Default"> </td>
        </tr>
        <tr class="ro1">
            <td style="text-align:left;width:2.859cm; " class="Default"> </td>
            <td style="text-align:left;width:7.216cm; " class="Default"> </td>
            <td style="text-align:left;width:2.831cm; " class="Default"> </td>
            <td style="text-align:left;width:2.314cm; " class="Default"> </td>
            <td style="text-align:left;width:2.505cm; " class="Default"> </td>
        </tr>
        <tr class="ro1">
            <td style="text-align:left;width:2.859cm; " class="ce1">
                <p>Data</p>
            </td>
            <td colspan="3" style="text-align:left;width:7.216cm; " class="ce12">
                <p>{{orcamento.data}}</p>
            </td>
            <td style="text-align:left;width:2.505cm; " class="Default"> </td>
        </tr>
        <tr class="ro1">
            <td style="text-align:left;width:2.859cm; " class="ce1">
                <p>nºOS</p>
            </td>
            <td colspan="3" style="text-align:left;width:7.216cm; " class="ce12">
                <p>{{orcamento.numeroOS}}</p>
            </td>
            <td style="text-align:left;width:2.505cm; " class="Default"> </td>
        </tr>
        <tr class="ro1">
            <td style="text-align:left;width:2.859cm; " class="ce1">
                <p>Cliente</p>
            </td>
            <td colspan="3" style="text-align:left;width:7.216cm; " class="ce12">
                <p>{{orcamento.cliente}}</p>
            </td>
            <td style="text-align:left;width:2.505cm; " class="Default"> </td>
        </tr>
        <tr class="ro1">
            <td style="text-align:left;width:2.859cm; " class="ce1">
                <p>Equipamento</p>
            </td>
            <td colspan="3" style="text-align:left;width:7.216cm; " class="ce12">
                <p>{{orcamento.equipamento}}</p>
            </td>
            <td style="text-align:left;width:2.505cm; " class="Default"> </td>
        </tr>
        <tr class="ro1">
            <td style="text-align:left;width:2.859cm; " class="ce1">
                <p>Setor</p>
            </td>
            <td colspan="3" style="text-align:left;width:7.216cm; " class="ce13">
                <p>{{orcamento.setor}}</p>
            </td>
            <td style="text-align:left;width:2.505cm; " class="Default"> </td>
        </tr>
        <tr class="ro1">
            <td style="text-align:left;width:2.859cm; " class="ce1">
                <p>C. Custo</p>
            </td>
            <td colspan="3" style="text-align:left;width:7.216cm; " class="ce13">
                <p>{{orcamento.cCusto}}</p>
            </td>
            <td style="text-align:left;width:2.505cm; " class="Default"> </td>
        </tr>
        <tr class="ro1">
            <td style="text-align:left;width:2.859cm; " class="ce1">
                <p>Cód. C. Custo</p>
            </td>
            <td colspan="3" style="text-align:left;width:7.216cm; " class="ce13">
                <p>{{orcamento.codCcusto}}</p>
            </td>
            <td style="text-align:left;width:2.505cm; " class="Default"> </td>
        </tr>
        <tr class="ro1">
            <td style="text-align:left;width:2.859cm; " class="ce1">
                <p>Solicitante</p>
            </td>
            <td colspan="3" style="text-align:left;width:7.216cm; " class="ce13">
                <p>{{orcamento.solicitante}}</p>
            </td>
            <td style="text-align:left;width:2.505cm; " class="Default"> </td>
        </tr>
        <tr class="ro1">
            <td style="text-align:left;width:2.859cm; " class="ce1">
                <p>Ref. Cliente</p>
            </td>
            <td colspan="3" style="text-align:left;width:7.216cm; " class="ce13">
                <p>{{orcamento.refCliente}}</p>
            </td>
            <td style="text-align:left;width:2.505cm; " class="Default"> </td>
        </tr>
        <tr class="ro2">
            <td colspan="4" style="text-align:left;width:2.859cm; " class="ce2">
                <p>Serviços </p>
            </td>
            <td style="text-align:left;width:2.505cm; " class="Default"> </td>
        </tr>
        <tr class="ro1">
            <td colspan="2" style="text-align:left;width:2.859cm; " class="ce3">
                <p>Descrição dos Serviços</p>
            </td>
            <td style="text-align:left;width:2.831cm; " class="ce3">
                <p>Total de horas</p>
            </td>
            <td style="text-align:left;width:2.314cm; " class="ce3">
                <p>Valor(R$)</p>
            </td>
            <td style="text-align:left;width:2.505cm; " class="Default"> </td>
        </tr>
        {{#each servicos}}
        <tr class="ro1">
            <td colspan="2" style="text-align:left;width:2.859cm; " class="ce4">
                <p>{{descricao}}</p>
            </td>
            <td style="text-align:left;width:2.831cm; " class="ce8">
                <p>{{horas}}</p>
            </td>
            <td style="text-align:left;width:2.314cm; " class="ce8">
                <p>{{valor}}</p>
            </td>
            <td style="text-align:left;width:2.505cm; " class="Default"> </td>
        </tr>
        {{/each}}
        <tr class="ro1">
            <td colspan="2" style="text-align:left;width:2.859cm; " class="ce5"> </td>
            <td style="text-align:left;width:2.831cm; " class="ce9"> </td>
            <td style="text-align:left;width:2.314cm; " class="ce9"> </td>
            <td style="text-align:left;width:2.505cm; " class="Default"> </td>
        </tr>
        <tr class="ro1">
            <td colspan="2" style="text-align:left;width:2.859cm; " class="ce6"> </td>
            <td style="text-align:left;width:2.831cm; " class="ce9"> </td>
            <td style="text-align:left;width:2.314cm; " class="ce9"> </td>
            <td style="text-align:left;width:2.505cm; " class="Default"> </td>
        </tr>
        <tr class="ro2">
            <td style="text-align:left;width:2.859cm; " class="ce7">
                <p>QTD</p>
            </td>
            <td colspan="2" style="text-align:left;width:7.216cm; " class="ce7">
                <p>Material</p>
            </td>
            <td style="text-align:left;width:2.314cm; " class="ce7">
                <p>Valor(R$)</p>
            </td>
            <td style="text-align:left;width:2.505cm; " class="Default"> </td>
        </tr>
        {{#each materiais}}
        <tr class="ro1">
            <td style="text-align:left;width:2.859cm; " class="ce8">
                <p>{{quantidade}}</p>
            </td>
            <td colspan="2" style="text-align:left;width:7.216cm; " class="ce14">
                <p>{{nome}}</p>
            </td>
            <td style="text-align:left;width:2.314cm; " class="ce8">
                <p>{{valor}}</p>
            </td>
            <td style="text-align:left;width:2.505cm; " class="Default"> </td>
        </tr>
        {{/each}}
        <tr class="ro1">
            <td style="text-align:left;width:2.859cm; " class="ce9"> </td>
            <td colspan="2" style="text-align:left;width:7.216cm; " class="ce6"> </td>
            <td style="text-align:left;width:2.314cm; " class="ce9"> </td>
            <td style="text-align:left;width:2.505cm; " class="Default"> </td>
        </tr>
        <tr class="ro1">
            <td style="text-align:left;width:2.859cm; " class="ce9"> </td>
            <td colspan="2" style="text-align:left;width:7.216cm; " class="ce6"> </td>
            <td style="text-align:left;width:2.314cm; " class="ce9"> </td>
            <td style="text-align:left;width:2.505cm; " class="Default"> </td>
        </tr>
        <tr class="ro1">
            <td colspan="2" style="text-align:left;width:2.859cm; " class="ce10">
                <p>Caso tenha alguma dúvida sobre este orçamento, use as seguintes informações para contato:</p>
            </td>
            <td rowspan="2" style="text-align:left;width:2.831cm; " class="ce19">
                <p>Total </p>
            </td>
            <td rowspan="2" style="text-align:left;width:2.314cm; " class="ce20">
                <p>R$ {{total}}</p>
            </td>
            <td style="text-align:left;width:2.505cm; " class="Default"> </td>
        </tr>
        <tr class="ro1">
            <td colspan="2" style="text-align:left;width:2.859cm; " class="ce11">
                <p>Renato de Paula – (43) 99129-1264 / (43) 3156-1054</p>
            </td>
            <td style="text-align:left;width:2.505cm; " class="Default"> </td>
        </tr>
    </table>
</body>

</html>